* { font-family: "Comic Sans MS";
    color: #FFF;}


body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C64B4;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.nav li {
    margin: 0;
    list-style-type: none;
    padding-right: 20px;
    float: left;
}

.nav li a {
    text-decoration: none;
    color: #FFF;
}

.nav li:not(:last-child) {
    margin-right: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}


h1 {position: absolute;
    padding: 50px;}
h2 {position: absolute;
        padding: 100px;}
h3 {position: absolute;
    padding: 133px;}
h4 {position: absolute;
    padding: 150px;}